<h1>Edit User</h1>

<%= form_for @user, url: {action:'update'} do |f| %>
  <p>
    <%= pluralize(@user.errors.count, "error") %> prevented the form from being saved:
  </p>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :password %>
  </div>
  <div>
    <%= f.password_field :password %> 
  </div>
  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.text_field :email %>
  </div>
  <%= f.submit %>
<% end %>