<h1>New User</h1>
<%= form_for @user do |f| %>
  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :password %>
  </div>
  <div>
    <%= password_field_tag(:password) %> 
  </div>
  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.text_field :email %>
  </div>
  <%= f.submit %>
<% end %>