<h1>New User</h1>
<%# <form accept-charset="UTF-8" data-remote="true" action="/users" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="username">
  <label for="email">email</label>
  <input type="text" id="email" name="email">
  <label for="password">Pass</label>
  <input type="password" id="password" name="password">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %><%#%">%>
  <%#<input type="submit" value="Create User">
</form> %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :password %>
  </div>
  <div>
    <%= password_field_tag(:password) %> 
  </div>
  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.text_field :email %>
  </div>
  <%= f.submit %>
<% end %>